MONGO_URI=mongodb://user:pass@host:27017/?directConnection=true
DB_NAME=mongodb-database-xxxxx
JWT_SECRET=your-secret-here
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
ALLOWED_DOMAIN=yourdomain.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIMS_EMAIL=admin@yourdomain.com
